<div class="row">
    <div class="col-md-10 col-md-offset-1" align="center">
        <h1>Create a new wiki entry</h1>
        <br/><br/>
        <%= form_for :wikientry, url: quick_create_path do |f| %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Wiki entry title' %>
        <br/>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Wiki entry content' %>
        <br/><br/>
        <%= f.submit "Upload", class: 'btn btn-lg btn-primary' %>
        <% end %>
    </div>
</div>