<div class="row">
    <div class="col-md-10 col-md-offset-1" align="center">
        <h1>Wiki entry created!</h1>
        <br/><br/>
        <h2>Good work. Your wiki entry was successfully uploaded to the S3fpv wiki. <%= link_to "Create another wiki entry?", quick_new_path %></h2>
    </div>
</div>