<div class="row">
    <div class="col-md-10 col-md-offset-1" align="center">
        <h1>WikiMe, where Team S3 creates wiki entries</h1>
        <br/><br/>
        <%= link_to "Create a quick wiki entry", quick_new_path, class: 'btn btn-lg btn-success' %>
    </div>
</div>